.login{width: 100%;background: #ffffff;}
.login .logo{height: 250px;width: 100%;background: url(../../images/logo-login.png) no-repeat center center;}
.login .main{height: 525px;width: 100%;background: #4b83c6;}
.login .main .container{width: 960px;margin: 0 auto;}
.login .main .container .left{float: left;width: 480px;}
.login .main .container .left .slide-container{width: 480px;height: 410px;position: relative;overflow: hidden;}
.login .main .container .left .slide-container .slides{position:absolute;left: 0;top: 0;width: 1920px;z-index: 1;}
.login .main .container .left .slide-container .slides li{height:410px;width: 480px;float: left;}
.login .main .container .left .slide-container .slides li h1{color: #FFF;font-size: 30px;text-align: center;padding-top:340px;font-weight: normal;}
.login .main .container .left .slide-container .slides li h2{color: #FFF;font-size: 16px;text-align: center;font-weight: normal;padding-top: 20px;}
.login .main .container .left .slide-container .slides-num{position:absolute;top:10px;z-index:2;width:100%;text-align:center;}
.login .main .container .left .slide-container .slides-num li{display:inline-block;width:6px;height:6px;margin:0 2px;*display:inline;zoom:1;cursor:pointer;border-radius:6px;background:#3d6ca4;}
.login .main .container .left .slide-container .slides-num .slides-active{background:#fff;}
.login .main .container .right{float: right;width: 340px;padding: 94px 20px 0 0;}
.login .main .container .right input{height: 52px;width: 336px;border: 2px solid #70a8ea;border-radius: 30px;background: none;font-size: 16px;color: #FFF;text-align: center;line-height: 52px;}
.login .main .container .right p{padding-bottom: 20px;text-align: right;}
.login .main .container .right .submit{line-height:52px;height: 52px;width: 340px;border-radius: 30px;background: #e8e7e7;font-size: 24px;color: #4b83c6;text-align: center;cursor: pointer;box-shadow: 0 2px 2px #4679b6;margin: 15px 0;}
.login .main .container .right p a{color: #97c6fe;}
.login .footer{height: 80px;background: #4072af;line-height: 80px;text-align: center;font-size: 12px;color: #2c5383;}
.login .footer a{margin-right: 20px;color: #2c5383;}
